tensorflow~=2.8.4
setuptools~=68.2.0
wrapt~=1.17.2
joblib~=1.4.2
pandas~=2.2.2
scikit-learn==1.6.0
wfdb~=4.1.2
matplotlib~=3.7.2
scipy~=1.10.1
resampy~=0.4.2
scikit-multilearn~=0.2.0
signxai~=1.1.9.2
openpyxl~=3.1.5
numpy~=1.26.4
pyodbc
pypdf~=4.2.0
neurokit2~=0.2.7
pyparsing~=2.4.7